.title-28-bold {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 136%;
  letter-spacing: -0.56px;
}

.title-22-bold {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 136%; /* 29.92px */
  letter-spacing: -0.44px;
}

.body-18-bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.body-18-regular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: -0.18px;
}

.body-16-bold {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

.body-16-regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.body-15-semibold {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 22.5px */
}

.body-15-regular {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}

.callout-15-bold {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 22.5px */
}

.callout-13-semibold {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
}

.caption-11-regular {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
}

.btn {
  @apply h-[52px] flex-center gap-1 callout-15-bold border-[1.4px] border-gray-800/20 rounded-xl text-gray-700 disabled:opacity-20
}

.btn-white {
  @apply btn bg-gray-100 text-gray-900
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tag-container {
  @apply flex flex-wrap gap-2
}

.tag-base {
  @apply px-2.5 py-2 rounded-xl flex-center body-15-semibold bg-white
}

.tag {
  @apply tag-base text-gray-700
}

.tag-inactive {
  @apply tag-base text-gray-400
}